._ReqListView{
	form{
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 5px;
		label{
			min-width: 50px;
		}
		#WC_B2BMyAccountParticipantRole_select_1{
			width: 200px;
		}
	}
	.checkout-container{
		
		.mw_was_table{
			padding: 10px;
			// background: #ccc;
			//border-top: 1px solid #aaa;
			//border-bottom: 1px solid #aaa;
			._listContainer{
				padding: 2px;
				//border: 2px solid #ccc;
				._eachList{
					//padding: 3px;
					a{
						color: #474747;
						//text-decoration: underline;
					}
				}
				//._eachList:nth-child(odd){
				//	background: #ddd;
				// }
				._eachList{
					//border: 3px yellow solid;
					//border-radius:10px;
					margin-bottom:10px;
				}
			}
			._name{
				// min-width: 100px;
				width:50%;
				display: inline;
				float: left;
				a{
					border: 1px solid #ccc;
					border-radius: 7px;
					padding: 10px;
				}
			}
			._updated{
				// min-width: 100px;
				width: auto !important;
				display: inline;
				float: right;
				color: #000;
				a{
					border: 1px solid #ccc;
					border-radius: 7px;
					padding: 10px;
				}
			}
		}
		
	}
	.bt_pagination {
		width: 100%;
		border-top: 1px solid #000;
		margin-top: 15px;
		padding: 5px 0px 5px 0px;
		color: #999;
		clear: both;
	}
}