._orderDetails{
	label{
		display: inline-block;
	}
	#WC_ContentAreaESpot_div_1_63001{

	}
	#box{
		._orderInfo{
			padding: 7px;
			background-color: #eee;
			border: 1px solid #aaa;
			margin: 5px;
		}
		._paymentInfo{
			padding: 5px;
			._BillingInfo{
				border-bottom: 1px solid #ccc;
			}
			.title{
				border-bottom: 1px solid #777;
			}
			.title:nth-child(odd) {
				margin-top: 13px;
			}
			._ShippingInfo{
				border-bottom: 1px solid #ccc;
			}
		}
		._content{
			padding: 5px;
			border: 2px solid #ccc;
			margin: 5px 17px;
			.sub-col{
				span{
					display: inherit;
				}
				label{
					min-width: 120px;
				}
			}
		}
		.checkout-container{
			
			.order-product-info{
				.image{
					display: block;
					float: left;
					width: 30%;
					padding-right: 9px;
					img{
						max-height: 110px;
					}
				}
				.info{
					display: block;
					padding-top: 30px;
				}
				._colQuantity{
					padding-top: 5px;
					display: block;
					float: left;
					label{
						float: left;
						padding-right: 5px;
						padding-top: 3px;
					}
					input{
						background: #ccc;
						border: 1px solid #aaa;
					}
				}
				._Quantity{
					float: left;
					._quantity{
						float: left;
						padding-top: 5px;
						margin-right: 3px;
					}
				}

				._eachDiv{
					display: block;
					padding-top: 5px;
					border-top: 1px solid #DDD;
					text-align: right;
					._colEach{
						float: right;
					}
					._each{
						margin-right: 4px;
						display: inline-block;
					}
				}
				._totalDiv{
					display: block;
					padding-bottom: 5px;
					border-bottom: 1px solid #DDD;
					text-align: right;
					font-weight: bold;
					._colTotal{
						float: right;
					}
					._total{
						margin-right: 4px;
						display: inline-block;
					}
				}

			}
			.order-product-discount{
				width: 100%;
				display: inline-block;
				border-bottom: 1px solid #ccc;
				padding-top: 1px;
				div{
					strong{
						color: #ff6311;
						a{
							margin-left: 0;
							color: #ff6311;
						}
					}
					
				}
				div:nth-child(odd){
					float: left;
					width: 50%;
				}
				div:nth-child(even){
					float: right;
				}
			}
			.order-product-last{
				
				._remove{
					padding-top: 20px;
					a{
						text-decoration: underline;
						color: #ff6311;
					}

				}
			}


			#OrderConfirmPagingDisplay{
				border: 2px solid #aaa;
				background: white;
				clear: both;
				line-height: 140%;
				margin: 10px 5px;
				overflow: hidden;
				padding: 10px;
				img{
					max-width:95%;
				}
				.order-summary{
					>.mw_was_tbody{
						padding-bottom: 5px;
						padding-top: 5px;
						border-bottom: 1px solid #777;
					}
				}
			}
			#order-total{
				margin: 10px 5px;
				padding: 10px;
				border: 1px solid #aaa;
				background-color: #ccc;
				overflow: hidden;
				label{
					min-width: 120px;
				}
			}
			a{
				margin-left: 10px;
				margin-right: 10px;
				margin-bottom: 10px;
			}
		}
		._returnSummary{
			div[id*='collapse']{
				._retContentContainer{
					border: 2px solid #aaa;
					background: white;
					clear: both;
					line-height: 140%;
					margin: 10px 5px;
					overflow: hidden;
					padding: 10px;
					
					._orderSummaryContainer{
						padding-top: 10px;
					}
					.order-product-info{
						margin: 10px 0;
						._skuInfo{
							margin-left: 100px;
							span{
								min-width: 118px;
								display: inline-block;
							}
							._credBT{
								min-width: 121px;
								display: inline-block;
							}
						}
					}
				}
					
			}
		}
	}
	.text{
		text-align: right;
	}
}
