._creditAccount{
	._heroBanner{
		height: auto;
	}
	._backButton{
		padding: 10px;
	}
	._firstPara{
		padding: 0 10px;
	}
	h2{
		padding: 0 10px;
	}
	.creditTable{
		border: 2px solid #777;
		margin: 0 10px;
		._creditRows{
			._creditContents{
				._creditHeader{
					text-align: center;
					background-color: #aaa;
					font-size: 18px;
				}
				._creditItem{
					padding-bottom: 8px;
					padding-left: 5px;
					padding-right: 5px;
					
					._plus{
						display: inline-block;
						float: left;
					}
					._content{
						margin-left: 15px;
					}

				}
			}
		}
	}

}