._home{
	// padding: 5px;
	._homepageThumbnail{
		padding: 5px;
		.hp_header{
			._hp_headerTitle{
				font-weight: bold;
				color: #000;
				font-size: 20px;
				padding-bottom: 5px;
			}
		}

		.hp_topcat{
			text-align: center;
			._hp_topcatContainer{
				  display: -webkit-box;
				  display: -webkit-flex;
				  display: flex;
				  display: -moz-box;
				  display: -ms-flexbox;
				  
				  justify-content: space-around;
				  -webkit-flex-flow: row wrap;
				  flex-flow: row wrap;
				.ad{

					text-align: center;
					vertical-align: middle;
					position: relative;
					width: 140px !important;
					height: 160px !important;
					padding: 5px;
				}
				.hp_cathead{
					display: -webkit-box;
					overflow: hidden  !important;
					text-overflow: ellipsis !important;
					-webkit-line-clamp: 2 !important;
					-webkit-box-orient: vertical !important;
					height: 33px;

					position: absolute;
					font-size: 15px;
					color: #000;
					font-weight: bold;
					width: 140px;
					line-height: 1.1;
					margin-top: 10px;
				}
				._hp_topcatItem{
					background-size: 140px;
					width: 140px !important;
					height: 160px !important;
					border: 1px solid #ccc;
					img{
						width: 68%;
					}

				}
				._hp_topcatItem:active{
					border: 1px solid #f3cd33;
				}
			}
		}
	}
	.mid_promo_wrapper{
		padding: 5px;
		background-color: #eee;
		.mid_promo_right_head{
			font-weight: bold;
			color: #000;
			font-size: 20px;
		}
		._TPcarousel{
			._TPcarouselContainer{
				height: 340px !important;
				._TPcarouselItem{
					background: #fff;
					border: 1px #ccc solid;
					margin: 5px !important;
					padding: 15px;
					width: 135px;
					float: left;
					.letest_proimage{

					}
					.lproduct_name{
						display: -webkit-box;
						color: #000;
						font-family: 'Open Sans', sans-serif;
						display: block;
						font-size: 12px;
						font-weight: bold;
						padding: 8px 0 0 0;
						margin-top: 15px;
						position: relative;
						overflow: hidden  !important;
						text-overflow: ellipsis !important;
						-webkit-line-clamp: 2 !important;
						-webkit-box-orient: vertical !important;
						height: 45px;
						line-height: 1.3;
					}
					.lproduct_desc{
						color: #000;
						font-family: 'Open Sans', sans-serif;
						display: block;
						font-size: 12px;
						line-height: 14px;
						margin-bottom: 5px;
					}
					.llproduct_price{
						color: #000;
						font-family: 'Open Sans', sans-serif;
						font-size: 16px !important;
						font-weight: 700;
						text-decoration: none;
					}
				}

			}
		}
	}
	._bottomPromoContainer{
		._featuredDealTitle{
			font-weight: bold;
			color: #000;
			font-size: 20px;
			padding: 5px;
		}
		.bottom-promos{
			._specialsCarousel{
				._specialsItem{
					background-color: #fff;
					vertical-align: middle;
					padding: 5px;
					height: 187px;
					._specialsTitleLink{
						display: block;
						background: url(../../../images/red-promo-bg.png) no-repeat 0 0;
						width: 300px;
						height: 40px;
						text-align: center;
						position: relative;
						padding-top: 5px;
						z-index: 10001;
						margin-left: 5px;
						.bottom-promo-red{
							font-family: 'OPen Sans', sans-serif;
							color: #fff;
							font-size: 18px;
							margin-top: -3px;
						}
					}	
					._specialsContent{
						width: 288px;
						height: 125px;
						border: 1px solid #ccc;
						padding: 23px 10px 17px 10px;
						position: relative;
						top: -37px;
						p{
							line-height: 1.5;
							margin-top: 5px;
						}
					}
				}
			}
		}
	}
}