._resources{
	._resourceContainer{
		width: 100%;
		background-color: #F7F7F7;
		text-align: center;
		._VideoResource{
		}
		._textImage{
			width: 131px;
			height: 116px;
		}
		._picImage{
			width: 189px;
			height: 116px;
		}
		._pcs_picImage{
			height: 138px;
			width: 119px;
		}
		._pcs_textImage{
			width: 201px;
			height: 138px;
		}
	}
}