.pages_servicesRebarFabrication {
  // add your page-specific sass here

  .ad_product{
  	h2{
  		padding: 5px;
  	}
  	>li{
  		padding-left: 5px;
  		padding-right: 5px;
  	}
  	p{
  		padding: 5px;
  	}
  	>div{
  		padding: 5px;
  	}
  }
}
