$checkbox-url: url("/_moovweb_local_assets_/images/checkbox.png");

$checkbox-width: 20px;
$checkbox-height: 41px;

$checkbox-check-x: 0px;
$checkbox-check-y: 0px;
$checkbox-check-width: 20px;
$checkbox-check-height: 20px;

$checkbox-uncheck-x: 0px;
$checkbox-uncheck-y: -21px;
$checkbox-uncheck-width: 20px;
$checkbox-uncheck-height: 20px;

@mixin checkbox-check() {
  background: url("/_moovweb_local_assets_/images/checkbox.png") no-repeat 0px 0px;
  width: 20px;
  height: 20px;
}

@mixin checkbox-uncheck() {
  background: url("/_moovweb_local_assets_/images/checkbox.png") no-repeat 0px -21px;
  width: 20px;
  height: 20px;
}

.checkbox-check {
  background: url("/_moovweb_local_assets_/images/checkbox.png") no-repeat 0px 0px;
  width: 20px;
  height: 20px;
}

.checkbox-uncheck {
  background: url("/_moovweb_local_assets_/images/checkbox.png") no-repeat 0px -21px;
  width: 20px;
  height: 20px;
}
