$Icons-url: url("/_moovweb_local_assets_/images/Icons.png");

$Icons-width: 470px;
$Icons-height: 504px;

$Icons-HDSupply-Logo-x: 0px;
$Icons-HDSupply-Logo-y: 0px;
$Icons-HDSupply-Logo-width: 235px;
$Icons-HDSupply-Logo-height: 70px;

$Icons-cart-empty-x: 0px;
$Icons-cart-empty-y: -71px;
$Icons-cart-empty-width: 30px;
$Icons-cart-empty-height: 30px;

$Icons-cart-full-x: 0px;
$Icons-cart-full-y: -102px;
$Icons-cart-full-width: 30px;
$Icons-cart-full-height: 30px;

$Icons-cart-indicator-x: 0px;
$Icons-cart-indicator-y: -133px;
$Icons-cart-indicator-width: 20px;
$Icons-cart-indicator-height: 20px;

$Icons-check-x: 0px;
$Icons-check-y: -308px;
$Icons-check-width: 20px;
$Icons-check-height: 20px;

$Icons-male_user-x: 0px;
$Icons-male_user-y: -165px;
$Icons-male_user-width: 30px;
$Icons-male_user-height: 30px;

$Icons-menu-x: 0px;
$Icons-menu-y: -196px;
$Icons-menu-width: 30px;
$Icons-menu-height: 30px;

$Icons-uncheck-x: 0px;
$Icons-uncheck-y: -454px;
$Icons-uncheck-width: 20px;
$Icons-uncheck-height: 20px;

$Icons-white-cap-logo-no-tagline-x: 0px;
$Icons-white-cap-logo-no-tagline-y: -475px;
$Icons-white-cap-logo-no-tagline-width: 147px;
$Icons-white-cap-logo-no-tagline-height: 29px;

@mixin Icons-HDSupply-Logo() {
  background: url("/_moovweb_local_assets_/images/Icons.png") no-repeat 0px 0px;
  @include background-size(235px 252px);
  width: 235px;
  height: 70px;
}

@mixin Icons-cart-empty() {
  background: url("/_moovweb_local_assets_/images/Icons.png") no-repeat 0px -71px;
  @include background-size(235px 252px);
  width: 30px;
  height: 30px;
}

@mixin Icons-cart-full() {
  background: url("/_moovweb_local_assets_/images/Icons.png") no-repeat 0px -102px;
  @include background-size(235px 252px);
  width: 30px;
  height: 30px;
}

@mixin Icons-cart-indicator() {
  background: url("/_moovweb_local_assets_/images/Icons.png") no-repeat 0px -133px;
  @include background-size(235px 252px);
  width: 20px;
  height: 20px;
}

@mixin Icons-check() {
  background: url("/_moovweb_local_assets_/images/Icons.png") no-repeat 0px -308px;
  width: 20px;
  height: 20px;
}

@mixin Icons-male_user() {
  background: url("/_moovweb_local_assets_/images/Icons.png") no-repeat 0px -165px;
  @include background-size(235px 252px);
  width: 30px;
  height: 30px;
}

@mixin Icons-menu() {
  background: url("/_moovweb_local_assets_/images/Icons.png") no-repeat 0px -196px;
  @include background-size(235px 252px);
  width: 30px;
  height: 30px;
}

@mixin Icons-uncheck() {
  background: url("/_moovweb_local_assets_/images/Icons.png") no-repeat 0px -454px;
  width: 20px;
  height: 20px;
}

@mixin Icons-white-cap-logo-no-tagline() {
  background: url("/_moovweb_local_assets_/images/Icons.png") no-repeat 0px -475px;
  width: 147px;
  height: 29px;
}

.Icons-HDSupply-Logo {
  background: url("/_moovweb_local_assets_/images/Icons.png") no-repeat 0px 0px;
  background-size: 235px 252px;
  width: 235px;
  height: 70px;
}

.Icons-cart-empty {
  background: url("/_moovweb_local_assets_/images/Icons.png") no-repeat 0px -71px;
  background-size: 235px 252px;
  width: 30px;
  height: 30px;
}

.Icons-cart-full {
  background: url("/_moovweb_local_assets_/images/Icons.png") no-repeat 0px -102px;
  background-size: 235px 252px;
  width: 30px;
  height: 30px;
}

.Icons-cart-indicator {
  background: url("/_moovweb_local_assets_/images/Icons.png") no-repeat 0px -133px;
  background-size: 235px 252px;
  width: 20px;
  height: 20px;
}

.Icons-check {
  background: url("/_moovweb_local_assets_/images/Icons.png") no-repeat 0px -308px;
  width: 20px;
  height: 20px;
}

.Icons-male_user {
  background: url("/_moovweb_local_assets_/images/Icons.png") no-repeat 0px -165px;
  background-size: 235px 252px;
  width: 30px;
  height: 30px;
}

.Icons-menu {
  background: url("/_moovweb_local_assets_/images/Icons.png") no-repeat 0px -196px;
  background-size: 235px 252px;
  width: 30px;
  height: 30px;
}

.Icons-uncheck {
  background: url("/_moovweb_local_assets_/images/Icons.png") no-repeat 0px -454px;
  width: 20px;
  height: 20px;
}

.Icons-white-cap-logo-no-tagline {
  background: url("/_moovweb_local_assets_/images/Icons.png") no-repeat 0px -475px;
  width: 147px;
  height: 29px;
}
