.bt_pagination{
	text-align: center;
	.bt_pagination_1{

	}
	.bt_pagination_left_active {
		font-family: "FrancoisOne", sans-serif;
		font-size: 18px;
		font-weight: bold;
		color: #F00!important;
	}

}