._resource_video{
	h1{
		padding-left: 10px;
	}
	#main{
		width: 320px;
		margin: 0 auto;
	}
	.redarrow{
		height: 27px;
		.redArrowImage{
			float: left;
			width: 35px;
			height: 27px;
		}
		.redarrowtext{
			float: right;
			background: gold;
			padding-right: 5px;
			padding-bottom: 4px;
			font-size: 17px;
			font-weight: bold;
			width: 280px;
			text-align: right;
			a{
				color: black;
			}
		}
	}
}

